$small-min: 0;
$small-max: 600;
$medium-min: 601;
$medium-max: 900;
$large-min: 901;
$large-max: 1024;
$xlarge-min: 1025;
$xlarge-max: 1439;
$xxlarge-min: 1440;
$xxlarge-max: 1920;

$small-gutter: 9px;
$medium-gutter: 11px;
$xlarge-gutter: 12px;