html, body {
	font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    color: $color-white;
    font-family: $font-family-muli;
}

i {
    font-style: normal;
}

.text-upper {
    text-transform: uppercase !important;
}

html.no-touch .text-underline {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

html.touch .text-underline {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

input[type=submit],
select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// No need for touch/no-touch states becuase color remains the same
a {
    color: $color-green-dark;
    @include transition(color $transition-speed-normal ease);
}

html.no-touch a:hover {
    color: $color-green-dark-var;
    @include transition(color $transition-speed-normal ease);
}

// Remove telephone link styling.
a[href^=tel] {
    color: $color-green-dark;
    text-decoration:none;
}

@mixin break-text() {
    -ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}

.break-text {
    @include break-text();
}

@mixin break-word() {
    -ms-word-break: break-word;

     /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}

.break-word {
    @include break-word();
}